{% extends 'drf-yasg/swagger-ui.html' %}

{% block extra_scripts %}
  {{ block.super }}
  <script>
    window.onload = function() {
      const form = document.querySelector('form');
      if (form) {
        form.enctype = "multipart/form-data";
      }
      
      // Adiciona suporte para upload de arquivos
      document.querySelectorAll('input[type=file]').forEach(input => {
        input.addEventListener('change', function() {
          const file = this.files[0];
          if (file) {
            const container = this.closest('.opblock-body');
            if (container) {
              const filenameDiv = document.createElement('div');
              filenameDiv.textContent = `Arquivo selecionado: ${file.name}`;
              container.appendChild(filenameDiv);
            }
          }
        });
      });
    };
  </script>
{% endblock %}