<!-- templates/swagger_redirect.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Swagger Redirect</title>
    <script>
        // Extrai o token da URL
        const urlParams = new URLSearchParams(window.location.search);
        const token = urlParams.get('token');
        
        if (token) {
            // Redireciona para o Swagger com o token no header
            window.location.href = `/swagger/?token=${token}`;
        } else {
            // Redireciona para o Swagger normal
            window.location.href = '/swagger/';
        }
    </script>
</head>
<body>
    <p>Redirecionando para o Swagger...</p>
</body>
</html>
